/**
 * Olympus style for error pages.
 *
 * Primary color: 75cd45
 * Secondary color: 5da535
 */


/* globals */
body {
    background-color: #fff;
    color: #2b2b2b;
    font: 14px 'Source Code Pro', Monaco, Consolas, 'Lucida Console', monospace;
    margin: 0;
    max-height: 100%;
    padding: 0;
}
a {
    text-decoration: none;
    color: #ff8a25;
}
a:hover {
    color: #e8520c;
}


/* content panel */
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}


/* containers */
.container {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.stack-container {
    height: 100%;
    position: relative;
}
.left-panel {
    background-color: #fff;
    float: left;
    height: 100%;
    position: relative;
    width: 25%;
}
.details-container {
    background-color: #fff;
    float: right;
    height: 100%;
    overflow: auto;
    width: 75%;
}


/* brand */
.branding {
    color: #777;
    font-size: 10px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 100;
}
.branding a {
    color: #ff8a25;
}


/* exception */
header {
    background: #fff;
    border-left: 5px solid #e8520c;
    box-sizing: border-box;
    color: #555;
    padding: 20px 20px;
}
.exc-title {
    border-bottom: solid 2px #f1f1f1;
    color: #616161;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 5px;
}
.exc-title-primary {
    color: #e8520c;
}
.exc-message {
    color: #616161;
    font-size: 16px;
    margin: 10px 0 0;
    word-wrap: break-word;
}
.exc-message span {
    color: #e8520c;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-right: 10px;
}
.exc-message .search-for-help {
    display: inline-block;
    line-height: 24px;
    margin: 0 10px 0 0;
    width: auto;
}
.exc-message .search-for-help li {
    display: inline-block;
    line-height: 24px;
    margin: 0;
}
.exc-message .search-for-help li a {
    display: block;
    padding: 0 5px;
    width: 16px;
}
.exc-message .search-for-help li a svg {
    fill: #616161;
}
.exc-message .search-for-help li a:hover svg {
    fill: #e8520c;
}
.exc-message .clipboard {
    border-radius: 0;
    box-shadow: none;
    color: #616161;
    display: inline-block;
    line-height: 18px;
    vertical-align: bottom;
}
.exc-message .clipboard#copy-button {
    border: 2px solid #616161;
}
.exc-message .clipboard:hover {
    color: #e8520c;
}
.exc-message .clipboard#copy-button:hover {
    border-color: #e8520c;
}


/* frames */
.frames-description {
    background-color: transparent;
    border-bottom: solid 2px #f1f1f1;
    color: #616161;
    font-size: 11px;
    margin: 0 auto;
    padding: 20px 0 5px;
    width: 90%;
}
.frames-container {
    bottom: 0;
    margin: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 60px;
}
.frame {
    background-color: #fff;
    border-left: 8px solid #ff8a25;
    box-shadow: 0 8px 0 0 #fafaf8;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 8px;
    padding: 14px;
}
.frame.active {
    background-color: #ff8a25;
    box-shadow: 0 8px 0 0 #fafaf8;
    color: #fff;
}
.frame:not(.active):hover {
    background-color: #fff;
    border-left-color: #e8520c;
}

.frame-class, .frame-function, .frame-index {
    font-weight: 700;
}
.frame-index {
    color: #fff;
    font-size: 11px;
}
.frame-class {
    color: #ff8a25;
}
.frame-file {
    color: #999;
    font-family: 'Source Code Pro', Monaco, Consolas, 'Lucida Console', monospace;
    word-wrap: break-word;
}
.frame-file .editor-link {
    color: #fff;
}
.frame-file .editor-link:hover strong {
    color: #f0e5df;
}
.frame-line {
    color: #ff8a25;
    font-weight: 700;
}
.active .frame-class {
    color: #e8520c;
}
.active .frame-file {
    color: #e8520c;
}
.active .frame-line {
    color: #fff;
}
.frame-line:before {
    content: "#";
}


/* details */
.details {
    border-left: 5px solid #fafaf8;
    margin-bottom: 0;
    padding: 10px 20px 20px;
}
.details-heading {
    color: #333;
    margin: 20px 0 0;
}


/* frame code */
.frame-code {
    background-color: #fff;
    border-left: 5px solid #ff8a25;
    display: none;
    margin-bottom: 0;
    padding: 0 20px;
}
.frame-code.active {
    display: block;
}
.frame-code .frame-file {
    background-color: #ff8a25;
    color: #e8520c;
    font-size: 11px;
    font-weight: 400;
    padding: 10px 16px;
}


/* code */
.code-block {
    border-radius: 0;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    margin: 0;
    padding: 10px;
}
.linenums {
    margin: 0;
    margin-left: 10px;
}
.linenums li {
    color: #a5a5a5;
}
.linenums li.current {
    background-color: rgba(255,255,255,.05);
    padding-left: 1px;
    padding-top: 4px;
}
.linenums li.current.active {
    background-color: rgba(255,255,255,.1);
}


/* comments */
.frame-comments {
    background-color: #404040;
    border-top: none;
    font-size: 12px;
    margin-top: 0;
    padding: 10px 16px;
}
.frame-comments.empty:before {
    color: #d2d2d2;
    content: "No comments for this stack frame.";
}
.frame-comment {
    color: #d2d2d2;
    padding: 10px 5px;
}
.frame-comment a {
    color: #e8520c;
    font-weight: 700;
    text-decoration: none;
}
.frame-comment a:hover {
    color: #e8520c;
}
.frame-comment:not(:last-child) {
    border-bottom: 1px dotted rgba(0,0,0,.3);
}
.frame-comment-context {
    color: #86d2b6;
    font-size: 10px;
    font-weight: 700;
}


/* data table */
.data-table-container label {
    border-bottom: 1px dotted rgba(0,0,0,.08);
    color: #e8520c;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 30px 0;
    margin-bottom: 5px;
    padding: 10px 0;
    padding-bottom: 5px;
}
.data-table {
    margin: 10px 0;
    width: 100%;
}
.data-table tbody {
    font: 12px 'Source Code Pro', Monaco, Consolas, 'Lucida Console', monospace;
}
.data-table thead {
    display: none;
}
.data-table tr {
    padding: 5px 0;
}
.data-table td:first-child {
    color: #463c54;
    min-width: 130px;
    overflow: hidden;
    padding-right: 5px;
    width: 20%;
}
.data-table td:last-child {
    color: #999;
    width: 80%;
    word-break: break-all;
    word-break: break-word;

    -webkit-hyphens: auto;
    hyphens: auto;
}
.data-table .empty {
    color: rgba(0,0,0,.3);
    font-style: italic;
}


/* handler */
.handler {
    font: 11px monospace;
    padding: 10px;
}
.handler.active {
    background-color: #404040;
    color: #d2d2d2;
}


/* prettify code style
Uses the Doxy theme as a base */
pre .str, code .str {
    color: #e3b446;
}
/* string  */
pre .kwd, code .kwd {
    color: #db613b;
    font-weight: 700;
}
/* keyword*/
pre .com, code .com {
    color: #555555;
    font-weight: 700;
}
/* comment */
pre .typ, code .typ {
    color: #fff;
}
/* type  */
pre .lit, code .lit {
    color: #17cfb6;
}
/* literal */
pre .pun, code .pun {
    color: #93a1a1;
    font-weight: 700;
}
/* punctuation  */
pre .pln, code .pln {
    color: #cccccc;
}
/* plaintext  */
pre .tag, code .tag {
    color: #db613b;
}
/* html/xml tag  */
pre .htm, code .htm {
    color: #dda0dd;
}
/* html tag */
pre .xsl, code .xsl {
    color: #d0a0d0;
}
/* xslt tag */
pre .atn, code .atn {
    color: #fff;
    font-weight: 400;
}
/* html/xml attribute name */
pre .atv, code .atv {
    color: #e3b446;
}
/* html/xml attribute value  */
pre .dec, code .dec {
    color: #fff;
}
/* decimal  */
pre.prettyprint, code.prettyprint {
    background: #272727;
    color: #929292;
    font: 12px 'Source Code Pro', Monaco, Consolas, 'Lucida Console', monospace;
    font-weight: 400;
    line-height: 1.5em;
}
pre.prettyprint {
    white-space: pre-wrap;
}
pre.prettyprint a, code.prettyprint a {
    text-decoration: none;
}
