<?php

/**
 *
 * @package Olympus
 * @author Achraf Chouk <achrafchouk@gmail.com>
 * @since 0.0.2
 *
 */

/**
 * Staging environment configuration.
 */
return [
    // Database
    'database' => [
        'host' => '127.0.0.1',
        'name' => 'wordpress',
        'user' => 'root',
        'pass' => 'password',
        'charset' => 'utf8',
        'collate' => '',
        'prefix' => 'wp_',
    ],

    // WordPress configurations
    'wordpress' => [
        'home' => 'http://www.domain.tld',
        'siteurl' => 'http://www.domain.tld/cms',
        'revisions' => 3
    ],

    // Secure?
    'https' => false,

    // Default WordPress cron?
    // -
    // Disable internal CRON tasks and redirection to the alternative one
    // to let admin network uses real Cron tasks, for example:
    // */2 * * * * cd /path/to/wordpress/docroot && php wp-cron.php >> /path/to/cron/logfile.log 2>&1
    // -
    'cron' => false,

    // Security
    'file_edit' => false,

    // Cache
    'cache' => true,

    // Debug
    'debug' => [
        'savequeries' => true,
        'script_debug' => true,
        'wp_debug_display' => true,
        'wp_debug' => true,
    ],
    // OR
    // if you DO NOT want debug, uncomment this line and remove the lines above.
    // 'debug' => false,
];
