<?php

/**
 *
 * @package Olympus
 * @author Achraf Chouk <achrafchouk@gmail.com>
 * @since 0.0.1
 *
 */

/**
 * Define your environments.
 */
return [
    'staging'       => [
        'hostnameA',
        'hostnameB'
    ],
    'production'    => [
        'remotename'
    ],
];
