<?php

/**
 *
 * @package Olympus
 * @author Achraf Chouk <achrafchouk@gmail.com>
 * @since 0.0.2
 *
 */

/**
 * Staging environment configuration.
 */
return [
    //Database
    'database' => [
        'host' => '127.0.0.1',
        'name' => 'wordpress',
        'user' => 'root',
        'pass' => 'password',
    ],

    //WordPress URLs
    'wordpress' => [
        'home' => 'http://www.domain.tld',
        'siteurl' => 'http://www.domain.tld/cms',
    ],

    //Secure?
    'https' => false,

    //Debug
    'debug' => [
        'savequeries' => true,
        'script_debug' => true,
        'wp_debug_display' => true,
        'wp_debug' => true,
    ],
    //Or if you DO NOT want debug, uncomment this line and remove the lines above.
    //'debug' => false,
];
