<?php

/**
 *
 * @package Olympus
 * @author Achraf Chouk <achrafchouk@gmail.com>
 * @since 0.0.1
 *
 */

/**
 * Production environment configuration.
 */
return [
    //Database
    'database' => [
        'host' => '127.0.0.1',
        'name' => 'wordpress',
        'user' => 'root',
        'password' => 'password',
    ],

    //WordPress URLs
    'wordpress' => [
        'home' => 'http://domain.tld',
        'siteurl' => 'http://domain.tld/cms',
    ],

    //Debug
    'debug' => false,
];
